<style></style>

<footer class="footer">
  <div class="f-info">
    <div class="f-info-socials mt-2">
      <a href="https://www.facebook.com/Hotelcamelliapuri/" target="_blank"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/hotelcamelliapuri/?hl=en"
        target="_blank" style="color: #FF0069;"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/company/camellia-group/?originalSubdomain=in"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>

    <div class="f-info-brand mt-2">
      <i class="fa-regular fa-copyright"></i>
      <span>Camellia Private Limited</span>
    </div>

    <div class="f-info-links mt-2">
      <a href="listings/privacy">Privacy</a>
      <span>|</span>
      <a href="listings/terms">Terms</a>
      <p class="footer-credit mt-3">
        © 2025 Camellia • Built by
        <strong> Rahul Shaw</strong>
      </p>
    </div>
  </div>
</footer>
