<style>
  
</style>

<footer class="footer">
  <div class="f-info">
    <div class="f-info-socials mt-2">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-info-brand mt-2">
      <i class="fa-regular fa-copyright"></i>
      <span>Camellia Private Limited</span>
    </div>

    <div class="f-info-links mt-2">
      <a href="/privacy">Privacy</a>
      <span>|</span>
      <a href="/terms">Terms</a>
      <p class="footer-credit mt-3">
        © 2025 Camellia • Built by
        <strong> Rahul Shaw</strong>
      </p>
    </div>
  </div>
</footer>
