body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.navbar {
  height: 5rem;
  background-color: white;
}
.nav-link {
  color: #222222 !important;
}
.nav-logo {
  height: 2.5rem;
}

/* Footer*/
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials {
  width: 100%;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  text-align: center;
}
.fa-copyright {
  margin-right: 0.25rem;
}

/* cards */
.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
  height: 20rem;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400;
}
.listing-link {
  text-decoration: none;
}

/* card effect */
.card-img-top:hover {
  transform: translateY(-10px);
  transform: scale(0.97);
  transition: 0.2s ease;

  box-shadow: 0 0 15px rgba(13, 110, 253, 0.4);
}
.card {
  transition: 0.5s ease;
}
