<% layout("/layouts/boilerplate") -%>

<br />
<div class="row justify-content-center">
  <div class="col-8">
    <h3>Create a New Listing</h3>
    <br />
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
      onsubmit="handleSubmit(event,this)"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          maxlength="50"
        />

        <div class="invalid-feedback">Enter title</div>
      </div>
      <div class="mb-3 col">
        <label for="description" class="form-label">Description</label>
        <textarea
          required
          class="form-control"
          name="listing[description]"
          placeholder="Enter description"
          id="description"
        ></textarea>
        <div class="invalid-feedback">Enter description</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            name="listing[price]"
            placeholder="1200"
          />
          <div class="invalid-feedback">Enter correct price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            required
            class="form-control"
            type="text"
            name="listing[country]"
            placeholder="India"
          />
          <div class="invalid-feedback">Enter Country</div>
        </div>
      </div>

      <div class="mb-3 col">
        <label for="image" class="form-label">Upload image</label>
        <input
          type="file"
          class="form-control"
          name="listing[image]"
          required
          placeholder="Enter image"
        />
      </div>
      <div class="row">
        <div class="mb-3 col col-md-5">
          <label for="location" class="form-label">Location</label>
          <input
            required
            class="form-control"
            type="text"
            name="listing[location]"
            placeholder="Kolkata, West Bengal"
          />
          <div class="invalid-feedback">Enter location</div>
        </div>
        <div class="mb-3col col-md-7">
          <label for="select" class="form-label">Category</label>
          <select
            class="form-select"
            id="select"
            aria-label="select category"
            required
            name="listing[category]"
          >
            <option value="" disabled selected>Select Category</option>
            <option value="trending">Trending</option>
            <option value="rooms">Rooms</option>
            <option value="city">City</option>
            <option value="mountain">Mountain</option>
            <option value="castle">Castle</option>
            <option value="pool">Pool</option>
            <option value="camping">Camping</option>
            <option value="farm">Farm</option>
            <option value="arctic">Arctic</option>
            <option value="forest">Forest</option>
            <option value="beach">Beach</option>
            <option value="heritage">Heritage</option>
          </select>
        </div>
      </div>

      <button class="btn btn-success add-btn my-3">Add</button>
    </form>
  </div>
</div>

<script>
  function handleSubmit(e, form) {
    if (!form.checkValidity()) {
      return; // ❌ invalid → do nothing
    }

    const btn = form.querySelector("button");
    btn.disabled = true;
    btn.innerText = "Adding...";
  }
</script>
